h3 {
  color: #000000;
  font-family: Georgia;
  font-size: 150%;
  font-variant: small-caps;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23293462'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFAA33' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFAA33' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eeeeee;
  font-family: Georgia !important;
}

.header .judul {
  color: #feb139;
  text-align: center;
  font-size: 120%;
  margin-left: 20px;
  font-family: Tahoma;
}

.header .text {
  margin-top: -1em;
  color: #eeeeee;
}

.header .link a {
  font-family: Tahoma;
  margin-right: 20px;
  color: #eeeeee;
  text-decoration: none;
}

.header .link a:hover {
  font-family: Tahoma;
  margin-right: 20px;
  color: #feb139;
  text-decoration: underline;
  transition: 0.3s;
}

.pembuka {
  text-align: center;
  font-size: 120%;
  color: #feb139;
  font-family: Tahoma;
  margin-top: 7rem;
  margin-bottom: 22rem;
}

.pembuka .text-pembuka {
  margin-top: -1em;
  color: #eeeeee;
}

.fers {
  text-align: center;
}


.visi-misi h3 {
  color: #feb139;
  font-family: Tahoma;
  text-align: center;
  font-size: 44px;
}
.visi-text {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  color: #eeeeee;
  margin-top: 2em;
  margin-bottom: 10rem;
  font-size: large;
  font-family: Tahoma;
}

.filosofi {
  font-family: Tahoma;
  text-align: center;
  font-size: large;
  color: #eeeeee;
}



@media only screen and (max-width: 600px) {
  .header {
    font-size: 11px;
  }

  .pembuka {
    font-size: 20px;
    margin-top: 12rem;
    margin-bottom: 28rem;
  }

}


